spring:
  datasource:
    url: jdbc:postgresql://app_db:5432/bankdb
    username: bankuser
    password: bankpass
  jpa:
    hibernate:
      ddl-auto: update
server:
  servlet:
    context-path: /api